ul{
    display: flex;
    list-style: none;
    gap: 80px;
    font-weight: bolder;
    margin-right: 30px;
}
li a{
    cursor: pointer;
    color: #121212;
    text-decoration: none;
}
li a:hover{
    color: #04243a;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}

@media only screen  and (max-width:540px){

 ul{
    width: 80%;
    gap: 7px;
    margin-right: 330px;
    font-size: smaller;
  
 }   
 
}