nav{
    width: 80%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #12121254;
 
}
.logo{
    margin-left: 50px;
    font-size: x-large;
}
.logo a{
    text-decoration: none;
    color: #121212;
}

@media only screen  and (max-width:540px){
 nav{
    width: 95%;
    margin-left: 2.5%;
 } 
 .logo{
    margin-left: 5px;
    font-size: 22px;
 }
 
}